<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div> class="container mt-5">
    <h1>Додати нову квартиру або будинок</h1>
    <form action="/1" method="post">
        <input type="text" name="name" placeholder="Ведіть назву будинку" class="form-control">
        <input type="text" name="countOfRoom" placeholder="Ведіть кількість кімнат" class="form-control">
        <button type="submit" class="btn btn-success">Додати</button>
    </form>
</div>

</body>
</html>