<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<!--<div> class="container mt-5">-->
<!--    <h1>Блог</h1>-->
<!--    <div th:each="el : ${posts} " class="alert alert-info mt-2">-->
<!--        <h3 th:text="${el.title}"></h3>-->
<!--        <p th:text="${el.anons}"></p>-->
<!--        <p th:text="${el.id}"></p>-->
<!--        <a th:href="@{blog/{id}(id=${el.id})}">Детальніше</a>-->
<!--    </div>-->

<div>

    <h1 th:inline="text">Layout [[${layout.name}]]</h1>

    <canvas id="myCanvas" width="1900" height="860"
            style="background-color:#eee; border:1px solid #ccc;">
        Ваш браузер не поддерживает Canvas
    </canvas>

    <script th:inline="javascript">

        let points = [[${layout.points}]];

        let canvas = document.getElementById("myCanvas"),
            context = canvas.getContext("2d");
        context.translate(canvas.width / 2, canvas.height / 2);
        context.scale(1, -1);
        context.beginPath();

        context.moveTo(points[0][0] * 100 + 10, points[0][1] * 100 + 10);

        for (let i = 1; i < points.length; i++) {
            context.lineTo(points[i][0] * 100 + 10, points[i][1] * 100 + 10);
        }
        context.closePath();
        context.strokeStyle = "red";
        context.stroke();
    </script>
</div>

</body>